<a href="https://colab.research.google.com/github/Shi-Yile/SPH6004-Assignment-1/blob/main/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# Import packages

# Data-processing packages
import pandas as pd
import numpy as np

# Plotting packages
import matplotlib.pyplot as plt
import seaborn as sn

# ML packages
import sklearn

import os
from google.colab import drive

In [ ]:
# give permission to load data from google drive
drive.mount('/content/drive')
# os.chdir('drive/My Drive/SPH6004/Assignment-1')

In [37]:
# load dataset
df = pd.read_csv('data.csv')
df_origin = df.copy()
df.head()

,id,aki,gender,admission_age,race,heart_rate_min,heart_rate_max,heart_rate_mean,sbp_min,sbp_max,...,ggt_max,ld_ldh_min,ld_ldh_max,gcs_min,gcs_motor,gcs_verbal,gcs_eyes,gcs_unable,height,weight_admit
0,36570066,3,F,79.953141,BLACK/AFRICAN AMERICAN,96.0,104.0,100.083333,103.0,126.0,...,NaN,236.0,318.0,15.0,6.0,5.0,4.0,0.0,157.0,110.0
1,39307659,0,F,78.194169,WHITE - RUSSIAN,72.0,134.0,97.263158,97.0,127.0,...,NaN,NaN,NaN,15.0,6.0,5.0,4.0,0.0,NaN,82.0
2,38743306,2,F,65.602396,WHITE,60.0,97.0,84.166667,95.0,143.0,...,NaN,NaN,NaN,15.0,6.0,5.0,4.0,0.0,NaN,62.1
3,32339865,2,F,64.906629,UNKNOWN,59.0,87.0,71.461538,113.0,150.0,...,NaN,NaN,NaN,15.0,1.0,0.0,1.0,1.0,170.0,113.1
4,35526987,2,M,57.438861,WHITE,57.0,100.0,82.387097,81.0,127.0,...,NaN,NaN,NaN,15.0,NaN,0.0,1.0,1.0,178.0,97.4

In [38]:
# basic infomration of each column in df
df.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50920 entries, 0 to 50919
Data columns (total 162 columns):
 #    Column                  Non-Null Count  Dtype
---   ------                  --------------  -----
 0    id                      50920 non-null  int64
 1    aki                     50920 non-null  int64
 2    gender                  50920 non-null  object
 3    admission_age           50920 non-null  float64
 4    race                    50920 non-null  object
 5    heart_rate_min          50841 non-null  float64
 6    heart_rate_max          50841 non-null  float64
 7    heart_rate_mean         50841 non-null  float64
 8    sbp_min                 50823 non-null  float64
 9    sbp_max                 50823 non-null  float64
 10   sbp_mean                50823 non-null  float64
 11   dbp_min                 50823 non-null  float64
 12   dbp_max                 50823 non-null  float64
 13   dbp_mean                50823 non-null  float64
 14   mbp_min                 50805 non-null  float64
 15   mbp_max                 50805 non-null  float64
 16   mbp_mean                50805 non-null  float64
 17   resp_rate_min           50777 non-null  float64
 18   resp_rate_max           50777 non-null  float64
 19   resp_rate_mean          50777 non-null  float64
 20   temperature_min         49279 non-null  float64
 21   temperature_max         49279 non-null  float64
 22   temperature_mean        49279 non-null  float64
 23   spo2_min                50797 non-null  float64
 24   spo2_max                50797 non-null  float64
 25   spo2_mean               50797 non-null  float64
 26   glucose_min             49746 non-null  float64
 27   glucose_max             49746 non-null  float64
 28   glucose_mean            49746 non-null  float64
 29   lactate_min             27161 non-null  float64
 30   lactate_max             27161 non-null  float64
 31   ph_min                  31172 non-null  float64
 32   ph_max                  31172 non-null  float64
 33   so2_min                 15699 non-null  float64
 34   so2_max                 15699 non-null  float64
 35   po2_min                 31177 non-null  float64
 36   po2_max                 31177 non-null  float64
 37   pco2_min                31176 non-null  float64
 38   pco2_max                31176 non-null  float64
 39   aado2_min               3492 non-null   float64
 40   aado2_max               3492 non-null   float64
 41   aado2_calc_min          21085 non-null  float64
 42   aado2_calc_max          21085 non-null  float64
 43   pao2fio2ratio_min       21085 non-null  float64
 44   pao2fio2ratio_max       21085 non-null  float64
 45   baseexcess_min          31176 non-null  float64
 46   baseexcess_max          31176 non-null  float64
 47   bicarbonate_min         849 non-null    float64
 48   bicarbonate_max         849 non-null    float64
 49   totalco2_min            31176 non-null  float64
 50   totalco2_max            31176 non-null  float64
 51   hematocrit_min          14215 non-null  float64
 52   hematocrit_max          14215 non-null  float64
 53   hemoglobin_min          14215 non-null  float64
 54   hemoglobin_max          14215 non-null  float64
 55   carboxyhemoglobin_min   1196 non-null   float64
 56   carboxyhemoglobin_max   1196 non-null   float64
 57   methemoglobin_min       1100 non-null   float64
 58   methemoglobin_max       1100 non-null   float64
 59   temperature_min.1       9692 non-null   float64
 60   temperature_max.1       9692 non-null   float64
 61   chloride_min            14126 non-null  float64
 62   chloride_max            14126 non-null  float64
 63   calcium_min             20163 non-null  float64
 64   calcium_max             20163 non-null  float64
 65   glucose_min.1           16234 non-null  float64
 66   glucose_max.1           16234 non-null  float64
 67   potassium_min           16783 non-null  float64
 68   potassium_max           16783 non-null  float64
 69   sodium_min              14742 non-null  float64
 70   sodium_max              14742 non-null  float64
 71   hematocrit_min.1        50482 non-null  float64
 72   hematocrit_max.1        50482 non-null  float64
 73   hemoglobin_min.1        50439 non-null  float64
 74   hemoglobin_max.1        50439 non-null  float64
 75   platelets_min           50447 non-null  float64
 76   platelets_max           50447 non-null  float64
 77   wbc_min                 50446 non-null  float64
 78   wbc_max                 50446 non-null  float64
 79   albumin_min             19156 non-null  float64
 80   albumin_max             19156 non-null  float64
 81   globulin_min            685 non-null    float64
 82   globulin_max            685 non-null    float64
 83   total_protein_min       1159 non-null   float64
 84   total_protein_max       1159 non-null   float64
 85   aniongap_min            50258 non-null  float64
 86   aniongap_max            50258 non-null  float64
 87   bicarbonate_min.1       50309 non-null  float64
 88   bicarbonate_max.1       50309 non-null  float64
 89   bun_min                 50510 non-null  float64
 90   bun_max                 50510 non-null  float64
 91   calcium_min.1           46028 non-null  float64
 92   calcium_max.1           46028 non-null  float64
 93   chloride_min.1          50321 non-null  float64
 94   chloride_max.1          50321 non-null  float64
 95   glucose_min.2           50132 non-null  float64
 96   glucose_max.2           50132 non-null  float64
 97   sodium_min.1            50318 non-null  float64
 98   sodium_max.1            50318 non-null  float64
 99   potassium_min.1         50290 non-null  float64
 100  potassium_max.1         50290 non-null  float64
 101  abs_basophils_min       30825 non-null  float64
 102  abs_basophils_max       30825 non-null  float64
 103  abs_eosinophils_min     30826 non-null  float64
 104  abs_eosinophils_max     30826 non-null  float64
 105  abs_lymphocytes_min     30838 non-null  float64
 106  abs_lymphocytes_max     30838 non-null  float64
 107  abs_monocytes_min       30825 non-null  float64
 108  abs_monocytes_max       30825 non-null  float64
 109  abs_neutrophils_min     30826 non-null  float64
 110  abs_neutrophils_max     30826 non-null  float64
 111  atyps_min               5896 non-null   float64
 112  atyps_max               5896 non-null   float64
 113  bands_min               6493 non-null   float64
 114  bands_max               6493 non-null   float64
 115  imm_granulocytes_min    11001 non-null  float64
 116  imm_granulocytes_max    11001 non-null  float64
 117  metas_min               6006 non-null   float64
 118  metas_max               6006 non-null   float64
 119  nrbc_min                2105 non-null   float64
 120  nrbc_max                2105 non-null   float64
 121  d_dimer_min             109 non-null    float64
 122  d_dimer_max             109 non-null    float64
 123  fibrinogen_min          14918 non-null  float64
 124  fibrinogen_max          14918 non-null  float64
 125  thrombin_min            91 non-null     float64
 126  thrombin_max            91 non-null     float64
 127  inr_min                 45848 non-null  float64
 128  inr_max                 45848 non-null  float64
 129  pt_min                  45849 non-null  float64
 130  pt_max                  45849 non-null  float64
 131  ptt_min                 45576 non-null  float64
 132  ptt_max                 45576 non-null  float64
 133  alt_min                 25093 non-null  float64
 134  alt_max                 25093 non-null  float64
 135  alp_min                 24909 non-null  float64
 136  alp_max                 24909 non-null  float64
 137  ast_min                 25190 non-null  float64
 138  ast_max                 25190 non-null  float64
 139  amylase_min             3313 non-null   float64
 140  amylase_max             3313 non-null   float64
 141  bilirubin_total_min     24883 non-null  float64
 142  bilirubin_total_max     24883 non-null  float64
 143  bilirubin_direct_min    2192 non-null   float64
 144  bilirubin_direct_max    2192 non-null   float64
 145  bilirubin_indirect_min  2097 non-null   float64
 146  bilirubin_indirect_max  2097 non-null   float64
 147  ck_cpk_min              15885 non-null  float64
 148  ck_cpk_max              15885 non-null  float64
 149  ck_mb_min               14633 non-null  float64
 150  ck_mb_max               14633 non-null  float64
 151  ggt_min                 472 non-null    float64
 152  ggt_max                 472 non-null    float64
 153  ld_ldh_min              14689 non-null  float64
 154  ld_ldh_max              14689 non-null  float64
 155  gcs_min                 50685 non-null  float64
 156  gcs_motor               50266 non-null  float64
 157  gcs_verbal              50407 non-null  float64
 158  gcs_eyes                50542 non-null  float64
 159  gcs_unable              50685 non-null  float64
 160  height                  25011 non-null  float64
 161  weight_admit            49900 non-null  float64
dtypes: float64(158), int64(2), object(2)
memory usage: 62.9+ MB

<ipython-input-38-1fc94d2bc7dc>:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose = True, null_counts = True)

In [59]:
# calculate the proportion of NAs in each column
df_NA_prop = 1 - df.count() / len(df)
idx_NA10 = df_NA_prop[df_NA_prop <= 0.1].index
idx_NA10

Index(['id', 'aki', 'gender', 'admission_age', 'race', 'heart_rate_min',
       'heart_rate_max', 'heart_rate_mean', 'sbp_min', 'sbp_max', 'sbp_mean',
       'dbp_min', 'dbp_max', 'dbp_mean', 'mbp_min', 'mbp_max', 'mbp_mean',
       'resp_rate_min', 'resp_rate_max', 'resp_rate_mean', 'temperature_min',
       'temperature_max', 'temperature_mean', 'spo2_min', 'spo2_max',
       'spo2_mean', 'glucose_min', 'glucose_max', 'glucose_mean',
       'hematocrit_min.1', 'hematocrit_max.1', 'hemoglobin_min.1',
       'hemoglobin_max.1', 'platelets_min', 'platelets_max', 'wbc_min',
       'wbc_max', 'aniongap_min', 'aniongap_max', 'bicarbonate_min.1',
       'bicarbonate_max.1', 'bun_min', 'bun_max', 'calcium_min.1',
       'calcium_max.1', 'chloride_min.1', 'chloride_max.1', 'glucose_min.2',
       'glucose_max.2', 'sodium_min.1', 'sodium_max.1', 'potassium_min.1',
       'potassium_max.1', 'inr_min', 'inr_max', 'pt_min', 'pt_max', 'gcs_min',
       'gcs_motor', 'gcs_verbal', 'gcs_eyes', 'gcs_unable', 'weight_admit'],
      dtype='object')

In [55]:
# extract a subset of df with columns including NAs less than 10%
df_sub_NA10 = df[idx_NA10]
df_sub_NA10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50920 entries, 0 to 50919
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 50920 non-null  int64
 1   aki                50920 non-null  int64
 2   gender             50920 non-null  object
 3   admission_age      50920 non-null  float64
 4   race               50920 non-null  object
 5   heart_rate_min     50841 non-null  float64
 6   heart_rate_max     50841 non-null  float64
 7   heart_rate_mean    50841 non-null  float64
 8   sbp_min            50823 non-null  float64
 9   sbp_max            50823 non-null  float64
 10  sbp_mean           50823 non-null  float64
 11  dbp_min            50823 non-null  float64
 12  dbp_max            50823 non-null  float64
 13  dbp_mean           50823 non-null  float64
 14  mbp_min            50805 non-null  float64
 15  mbp_max            50805 non-null  float64
 16  mbp_mean           50805 non-null  float64
 17  resp_rate_min      50777 non-null  float64
 18  resp_rate_max      50777 non-null  float64
 19  resp_rate_mean     50777 non-null  float64
 20  temperature_min    49279 non-null  float64
 21  temperature_max    49279 non-null  float64
 22  temperature_mean   49279 non-null  float64
 23  spo2_min           50797 non-null  float64
 24  spo2_max           50797 non-null  float64
 25  spo2_mean          50797 non-null  float64
 26  glucose_min        49746 non-null  float64
 27  glucose_max        49746 non-null  float64
 28  glucose_mean       49746 non-null  float64
 29  hematocrit_min.1   50482 non-null  float64
 30  hematocrit_max.1   50482 non-null  float64
 31  hemoglobin_min.1   50439 non-null  float64
 32  hemoglobin_max.1   50439 non-null  float64
 33  platelets_min      50447 non-null  float64
 34  platelets_max      50447 non-null  float64
 35  wbc_min            50446 non-null  float64
 36  wbc_max            50446 non-null  float64
 37  aniongap_min       50258 non-null  float64
 38  aniongap_max       50258 non-null  float64
 39  bicarbonate_min.1  50309 non-null  float64
 40  bicarbonate_max.1  50309 non-null  float64
 41  bun_min            50510 non-null  float64
 42  bun_max            50510 non-null  float64
 43  calcium_min.1      46028 non-null  float64
 44  calcium_max.1      46028 non-null  float64
 45  chloride_min.1     50321 non-null  float64
 46  chloride_max.1     50321 non-null  float64
 47  glucose_min.2      50132 non-null  float64
 48  glucose_max.2      50132 non-null  float64
 49  sodium_min.1       50318 non-null  float64
 50  sodium_max.1       50318 non-null  float64
 51  potassium_min.1    50290 non-null  float64
 52  potassium_max.1    50290 non-null  float64
 53  inr_min            45848 non-null  float64
 54  inr_max            45848 non-null  float64
 55  pt_min             45849 non-null  float64
 56  pt_max             45849 non-null  float64
 57  gcs_min            50685 non-null  float64
 58  gcs_motor          50266 non-null  float64
 59  gcs_verbal         50407 non-null  float64
 60  gcs_eyes           50542 non-null  float64
 61  gcs_unable         50685 non-null  float64
 62  weight_admit       49900 non-null  float64
dtypes: float64(59), int64(2), object(2)
memory usage: 24.5+ MB

In [64]:
df_sub_com10['race'].value_counts()

WHITE                                        24528
UNKNOWN                                       4525
BLACK/AFRICAN AMERICAN                        2874
OTHER                                         1345
WHITE - OTHER EUROPEAN                         702
UNABLE TO OBTAIN                               515
ASIAN                                          472
HISPANIC/LATINO - PUERTO RICAN                 409
ASIAN - CHINESE                                406
HISPANIC OR LATINO                             362
WHITE - RUSSIAN                                330
HISPANIC/LATINO - DOMINICAN                    253
PATIENT DECLINED TO ANSWER                     252
BLACK/CAPE VERDEAN                             239
BLACK/CARIBBEAN ISLAND                         216
BLACK/AFRICAN                                  154
ASIAN - SOUTH EAST ASIAN                       136
PORTUGUESE                                     123
WHITE - EASTERN EUROPEAN                       101
ASIAN - ASIAN INDIAN                            87
HISPANIC/LATINO - GUATEMALAN                    84
WHITE - BRAZILIAN                               80
AMERICAN INDIAN/ALASKA NATIVE                   70
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER       63
HISPANIC/LATINO - SALVADORAN                    57
HISPANIC/LATINO - MEXICAN                       41
MULTIPLE RACE/ETHNICITY                         39
ASIAN - KOREAN                                  37
SOUTH AMERICAN                                  32
HISPANIC/LATINO - CUBAN                         28
HISPANIC/LATINO - HONDURAN                      27
HISPANIC/LATINO - COLUMBIAN                     25
HISPANIC/LATINO - CENTRAL AMERICAN              19
Name: race, dtype: int64

In [66]:
df_sub_com10['gender'].value_counts()

M    21509
F    17122
Name: gender, dtype: int64

In [68]:
# recode gender as 0-1  0: male, 1: female
df_sub_com10['gender_'] = df_sub_com10['gender'].apply(lambda x:int(x == 'F'))
df_sub_com10['gender_'].value_counts()

<ipython-input-68-bbe89ddf892b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub_com10['gender_'] = df_sub_com10['gender'].apply(lambda x:int(x == 'F'))

0    21509
1    17122
Name: gender_, dtype: int64

In [70]:
df_sub_com10['aki'].value_counts()

2    12570
0    12147
1     7368
3     6546
Name: aki, dtype: int64

In [72]:
# re-categorise AKI as a binary column  0: aki = 0, 1: aki = 1/2/3
df_sub_com10['aki_binary'] = df_sub_com10['aki'].apply(lambda x:int(x == 1 or x == 2 or x == 3))
df_sub_com10['aki_binary'].value_counts()

<ipython-input-72-fcd846134705>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub_com10['aki_binary'] = df_sub_com10['aki'].apply(lambda x:int(x == 1 or x == 2 or x == 3))

1    26484
0    12147
Name: aki_binary, dtype: int64

In [ ]:
# create outcome vector and predictor matrix